@import "_reset";

$Very_Dark_Magenta: hsl(300, 43%, 22%);
$Soft_Pink: hsl(333, 80%, 67%);
$Dark_Grayish_Magenta: hsl(303, 10%, 53%);
$Light_Grayish_Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

html {
    font-family: 'League Spartan', sans-serif;
    text-align: center;
}

body {
    font-size: 15px;
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

.card {
    .product-overview-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; /* Why is this not working? I want to separate h1 and small */
        .product-description {
            padding: 1rem 0;
            h1 {
                font-weight: 700;
                font-size: 2.4rem;
                line-height: normal;
                color: $Very_Dark_Magenta;
            }
            small {
                color: $Dark_Grayish_Magenta;
                font-weight: 500;
                font-size: 1.15rem;
            }
        }
        .media-reviews {
            display: grid;
            width: 100%;
            align-content: space-around; /* Not working either */
            .outlet-review {
                background-color: $Light_Grayish_Magenta;
                border-radius: 10px;
                margin: 0.5rem 0rem;
                width: 95%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                .star-icons {
                    display: flex;
                    align-items: center;
                    justify-content:center;
                    gap: 0.5rem;
                }
                p {
                    color: $Very_Dark_Magenta;
                    font-weight: 700;
                    font-size: 1rem;
                }
            }
        }
    }
    .user-review-section {
        display: grid;
        text-align: left;
        .user-review {
            background-color: $Very_Dark_Magenta;
            border-radius: 7px;
            overflow: hidden;
            padding: 2rem;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            .review-header {
                display: flex;
                align-items: center;
                img {
                    border-radius: 50%;
                    width: 15%;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    padding: 0 1rem;
                    .user-name {
                        color: $White;
                        font-weight: 500;
                    }
                    .reviewer-status {
                        color: $Soft_Pink;
                        font-weight: 400;
                    }
                    figcaption {
                        font-size: 1rem;
                    }
                }
            }
            .testimony {
                color: $White;
                font-weight: 400;
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
      }
  }

  @media only screen and (min-width: 1024px) {
    html {
        text-align: left;
    }
    body {
        padding: 1.5rem 8rem;
    }
    .card {
        .product-overview-section {
            flex-direction: row;
            .product-description {
                padding: 2rem;
                h1 {
                    font-size: 3.5rem;
                }
            }
            .media-reviews {
                grid-template-columns: repeat(11, 1fr);
                grid-template-rows: repeat(3, 1fr);
                padding: 2rem 4rem;
                .outlet-review {
                    flex-direction: row;
                }
                .o-review1 {
                    grid-area: 1 / 1 / 2 / 10;
                }
                .o-review2 {
                    grid-area: 2 / 2 / 3 / 11;
                }
                .o-review3 {
                    grid-area: 3 / 3 / 4 / 12;
                }
            }
        }
        .user-review-section {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(15, 1fr);
            .u-review1 {
                grid-area: 1 / 1 / 14 / 2;
            }
            .u-review2 {
                grid-area: 2 / 2 / 15 / 3;
            }
            .u-review3 {
                grid-area: 3 / 3 / 16 / 4;
            }
        }
    }
  }